<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démo</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <style>
        .main.container{
            margin-top: 7em;
        }
    </style>
</head>
<body>
    <div class="ui fixed inverted menu">
        <a href="/" class="header item">Accueil</a>
        <a href="/mag" class="header item">Magasin le plus proche de chez vous</a>
        <a href="/qsn" class="header item">Qui sommes nous ?</a>
        <a href="/contacteznous" class="header item">Contactez Nous ?</a>
    </div>
    <div class="ui main container">

        <% if (locals.flash && locals.flash.error) { %>

            <div class="ui negative message">

                <%= flash.error %>

            </div>

        <% } %>

        <% if (locals.flash && locals.flash.success) { %>

            <div class="ui positive message">

                <%= flash.success %>

            </div>

        <% } %>